@media screen and (max-width: 991px)
	.contact-info > .contact-items > .contact-item
		width: 100% !important
		margin-left: 20px
		margin-bottom: 25px

	.footer-items > .footer-item
		width: 50% !important


@media screen and (max-width: 767px)
	.footer-items > .footer-item
		width: 100% !important
