@media screen and (max-width: 991px)
	.contact-info > .contact-items > .contact-item
		width: 100% !important
		margin-left: 20px
		margin-bottom: 25px

	.footer-items > .footer-item
		width: 50% !important

	.about-block > .about-block-item
		width: 100% !important

	//.table
	//	width: 100%
	//	overflow-x: auto

@media screen and (max-width: 767px)
	.footer-items > .footer-item
		width: 100% !important

	.about-text-items > .about-text-item
		width: 100% !important
		display: block
		float: left