// блок размеров
$height_header_info:	115px
$height_header_nav:		60px
$height_footer:			75px
$height_footer_area:	500px
$width_left_menu:		200px
$width_content:			1200px
$width_logo:			200px

// блок цветности
//$clr_black:		#000000
$clr_black:			#212529
$clr_white:			#ffffff
$clr_header:		$clr_white
$clr_footer_bck:	#80888b
$clr_footer_txt:	#cccccc
$clr_207:			#cfcfcf
$clr_224:			#e0e0e0
$clr_172_20_103:	#ac1467
$clr_237_op95:		rgba(237, 237, 235, .95)
$clr_120_op95:		rgba(120, 120, 120, .95)
//$clr_120_op95:		rgba(128, 136, 139, .95)

// кнопки
$btn_clr:		#008966
$btn_radius:	7px
$btn_font_clr:	$clr_white
$btn_hover_clr:	#002e5b
$btn_hover_fnt:	yellow
